*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    top:0;
    width: 100%;
    height:auto;
    z-index: 100;
}
.logo, strong{
    background: linear-gradient( rgb(196, 210, 45) , rgb(197, 141, 10));
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
  text-decoration: none;   
}
nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: #201c1c;
  text-align:  center;
  margin: 10px;
  z-index:3;
}
.nav-menu{
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.testmenu{
  list-style-type: none;
  overflow: hidden; 
}
.navbar{  
  position: fixed;
  top:0;
  margin: auto;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(195, 187, 187, 0.796);
}
.nav-item{
  padding: 20px;
  color: rgb(16, 15, 14);
  }
.nav-links{ 
  margin-left: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content:center;
  align-items: center;
  color: rgb(24, 22, 22);
  text-align:  center;
}
.DarkLite{
  border: none;
  background-color: transparent;
  font-size: 32px;
  padding: 20px;
  cursor: pointer;
}
body.dark  {
  background-color: #066a06e4;
  color: white;
  }
  .hamburger{
  display: none;
 
  }
  .bar{
  width: 25px;
  height: 3px;
  margin: 5px ;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease;
  background: rgb(105, 107, 15);
  }

.container{
    width: 80%;
    margin: 10px auto ;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    font-size: 22px;
}
.question{
    width: 100%;
    padding: 20px;
    background-color: rgb(70, 73, 13);
    color:white;
    font-size: 30px;
}
.answors{
    width: 100%;
    padding: 20px;
    background-color: rgba(130, 143, 12, 0.644);
}
#next{
    width: 100%;
    padding: 20px;
background-color: rgba(188, 238, 48, 0.705);
color: black;
font-size: 22px;
cursor: pointer;
}
#next:hover{
    background-color: rgb(171, 234, 75);
}
.answors>*{
    margin: 10px;
}
.hushum{
    background-color: rgb(7, 122, 7);
    color:white;
    display: none;
    padding-left: 20px;
}

.time-container{
    position:absolute;
    font-size: 22px;
    left: 10px;
    margin: auto;
    top:10px;

     
}


