*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    font-size: 22px;
}
.question{
    width: 100%;
    padding: 20px;
    background-color: rgb(7, 122, 7);
    color:white;
    font-size: 30px;
}
.answors{
    width: 100%;
    padding: 20px;
    background-color: aquamarine;
}
#next{
    width: 100%;
    padding: 20px;
background-color: greenyellow;
color: blue;
font-size: 22px;
cursor: pointer;
}
#next:hover{
    background-color: blueviolet;
}
.answors>*{
    margin: 10px;
}
.hushum{
    background-color: rgb(7, 122, 7);
    color:white;
    display: none;
    padding-left: 20px;
}

.time-container{
    position:absolute;
    font-size: 22px;
    left: 10px;
    margin: auto;
    top:10px;

     
}


