*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.progres-container{
    width: 100%;
    height: 8px;
    position: fixed;
    top:0;
    background-color: rgb(136, 124, 213);
    z-index: 1000000000444;
    
}
.progress{
    width: 0%;
    height: 8px;
    border-radius: 5px;
    background-color: rgb(38, 3, 53);
}
 
header{
    width: 100%;
}
.header-color{
    width: 100%;
    color: white;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    } 
   .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }

    /* nav ul>li a{
        text-decoration: none;
        color: white;
        
            }
        
               ul{
                    list-style-type: none;
                    overflow: hidden;
                  }
                  .navbar{
                    height: 70px;
                    width: 100%;
                    background-color: rgba(46, 132, 212, 0.881);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 5%;
                    position: fixed;
                    z-index: 11;
                  }
                  .nav-menu{
                    display: flex;
                    align-items: center;
                    color: white;
                  }
                  .nav-branding{
                    font-size: 2rem;
                  }
                 .nav-link{
                    transition: 0.5s ease;
                
                  }
                  .nav-link a{
                    
                    color:white;
                  }
                  .nav-link:hover{
                    color: dodgerblue;
                  }
                  .hamburger{
                    display: none;
                 
                  }
                  .bar{
                    width: 25px;
                    height: 3px;
                    margin: 5px ;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease;
                    background: rgb(72, 47, 156);
                  }
                  .nav-item{
                    padding: 0 1.5rem;
                    color: antiquewhite;
                  }


 */


 nav ul>li a{
    text-decoration: none;
    color: white;
    
        }
    
           ul{
                list-style-type: none;
                overflow: hidden;
              }
              .navbar{
                height: 70px;
                width: 100%;
                background-color: rgba(46, 132, 212, 0.881);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5%;
                position: fixed;
                z-index: 11;
              }
              .nav-menu{
                display: flex;
                align-items: center;
                color: white;
              }
              .nav-branding{
                font-size: 2rem;
              }
             .nav-link{
                transition: 0.5s ease;
            
              }
              .nav-link a{
                
                color:white;
              }
              .nav-link:hover{
                color: dodgerblue;
              }
              .hamburger{
                display: none;
             
              }
              .bar{
                width: 25px;
                height: 3px;
                margin: 5px ;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease;
                background: rgb(72, 47, 156);
              }
              .nav-item{
                padding: 0 1.5rem;
                color: antiquewhite;
              }
.nav-tabs .dteam a{
        font-size: 18px;
        color: white;
        text-align: center center;
    }
.nav-tabs .dteam a:hover{
     
        color: rgb(134, 81, 224);
        text-align:  center;
    }

.btn-rounded {
        margin: 20px;
        width: 200px;
        height: 50px;
        position: relative;
        padding:15px 20px;
        font-weight: 700;
    
        border: 1px solid rgba(255, 255, 255, 0.6);
        background-color: #fff;
        border: 1px solid #9926f0;
        color: #9926f0;
        border-radius: 30px;
        display: block;
    }
.btn-rounded:hover{
        background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
        color: #fff;
    }
 .btn-rounded span {
        position: absolute;
        background-color: #9926f0;
        width: 40px;
        height: 40px;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
    }

.btn-rounded span i {
    text-align: center;

    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
}

.rounded-pill {
    border-radius: 800px !important;
}

.intro-section {
    padding-left: 100px;
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    padding: 160px 0 0 0;
    width: 100%;
    height: auto;
}
#home{
    width: 100%;
  }
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#home .row{ width: 45%;}
.text-start{
   width: 100%;
   margin: auto 100px;
}
.video-start{
    width: 45%;
    height: auto;
    /* background-image: url("../img/intro-section-illustration.png"); */
    display: block;
    margin: 10px;
    background-repeat: no-repeat;
}
.display-2{
    width: 500px;
    color: white;
    font-size: 52px;
    font-weight: 700;
    padding: 20px;
    }
.p-base{
width: 500px;
    font-size: 32px;
}

img, svg {
    vertical-align: middle;
}


#companies{
    width: 100%;
    padding-top: 100px;
}


.section-title{
    /* border-top: 1px solid rgb(160, 10, 35); */
}
hr {
    width: 240px;
    margin: 40px auto;
    text-align: center;
    border-color: rgb(40, 39, 39);
    margin-top: 10px;
}
.mb-5 {
    margin-bottom: 4px solid  !important;
}
.heading-bold{
    text-align: center;
    color: #000;
    font-size: 24px;
}

.campanies__logo-boxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.campanies__logo-box {
     height: 40px;
    margin-bottom: 30px;
    padding: 8px;
    text-align: center;
  background-repeat: no-repeat;
}

.campanies__logo-box{
    display:flex;
    justify-content: space-around;
    background-size: contain;
    width: 150px;
    padding: 20px;
    border: 1px solid rgb(142, 137, 137);
    box-shadow: rgba(209, 34, 227, 0.95);
}

.shadow-sm1{
    background-image: url("../img/campany-1.png");
}
.shadow-sm2{
    background-image: url("../img/campany-2.png");
}
.shadow-sm3{
    background-image: url("../img/campany-3.png");
}
.shadow-sm4{
    background-image: url("../img/campany-4.png");
}
.shadow-sm5{
    background-image: url("../img/campany-5.png");
}
.shadow-sm6{
    background-image: url("../img/campany-6.png");
}
.border-animation--border-1{
    position: absolute;
   /* top:300px;
   left: 900px; */
    width: 7rem;
    height: 7rem;
    border: 0.55rem solid #fff;
    border-radius: 50%;
    animation: mymove 1s infinite;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}

.border-animation--border-2{
    left: 5px;
    width: 50px;
  
    height: 50px;
    border: 0.5rem solid #9926f0;;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation: mymove 5s infinite;
}
.fa-play-circle{
    top:50%;
    left: 1000px;
    padding: 20px;
}
.row2{
    width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
 }

 .ourservice{
    font-size: 62px;
    text-align: center;
 }

 .services__content .icon {
    font-size: 1.5rem;
    color: #9926f0;
}
.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 32px;
    color: #9926f0;
 
}
.col1{
    margin: auto;
    width: 45%;
    font-size: 32px;
    font-weight: 700;
   
}
.border-right {
    border-right: 1px solid #131517;
    height: 100px;
}
.col2{
    width: 45%;
    font-size: 28px;
    font-weight:100;
    margin: auto;
}

#services-content{
    padding-top: 100px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.servicesContent1{
    width: 45%;
 
}
.servicesContent2{
    width: 45%;

    background-image:url("../img/service-1.png");
    background-repeat: no-repeat;
}

.servicesContent3{
    width: 45%;
    background-image:url("../img/service-2.png");
    background-repeat: no-repeat;  
}
.servicesContent4{
    width: 45%;
    background-image:url("../img/service-3.png");
    background-repeat: no-repeat;  
}

/* Section  Testimonials********************Section  Testimonials********** */



#testimonials{
    
width: 100%;
height: 700px auto;
background-color: #9926f0;
color: #fff;


}
#testimonials .container{
    padding: 100px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: auto 200px;

    
}
.rowTestimonials{
    background-color: #9926f0;
    text-align: center;
}

.display-2 {
    color: #9926f0;
    font-size: 52px;
    font-weight: 700;
    padding: 20px;
}
.display-3{
    font-size: 52px;
    color: #9926f0;
    text-align: center;
}
.display-t{
    font-size: 52px;
    color:white;
    text-align: center;
}
.fa-paper-plane{
    font-size: 32px;
    color: #9926f0;
}
.fa-solid{
    font-size: 32px;
    color: #9926f0;  
}
.fa-sharp .fa-light .fa-cloud-arrow-up{
    font-size: 32px;
    color: #9926f0;   
}
.display-3--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, #9926f0, #d122e3);
}


.lead{
    margin: 50px;
    font-size: 32px;
    text-align: center;

}
.carusel{
    position: relative;
   margin: auto;
}
.carousel-inner{
    width: 100%;
    height: 400px;
    background-color: #9926f0;
    text-align: center;
}

.p-1{
    text-align: center;
    color: #9926f0;
}
.slider-item{
   color: #000;
   float: left;
    width:80% ;
    height:200px;
    margin: 20px  200px;
    background-color: bisque;
    border-radius: 8px;
    text-align: center;

      
    } 

    .slider-item>p{
        color: #000;
        font-size: 18px;
            line-height: 2 !important;
            padding: 20px;
            text-transform: capitalize;
           }

    .sitem{
        width: 150px;
        height: 150px;
        margin-left: 50px;
        border: 2px solid magenta;
        background-position:center center;
        background-repeat: no-repeat;
        background-size: contain;  
        border-radius: 50%;
       text-align: center;
       padding: 20px;
       margin-left: 450px;
    }

.testimonials__name{  
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
        color: #000;
   
}


    .slide1{
        background-image: url("../img/client-1.jpg");
    }
    .slide2{
        background-image: url("../img/client-2.jpg");
    }
    .slide3{
        background-image: url("../img/client-3.jpg");
    }
    .slide4{
        background-image: url("../img/client-4.jpg");
    }

.slick-prev .slick-arrow{

    margin-left: 25px;
    background-color: #d16a6a;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    padding-top: 10px;
    border-radius: 30%;
    /* outline: none; */
    background: #e536e2;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 120%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    /* color: transparent; */
    border: none;
    outline: none;
    /* background: transparent; */
}
.slick-next {right: 45%;}
.slick-prev{
left: 45%;
background-color: #9926f0;

}

/* accordion */
.accordion {
    margin: auto 200px;
    border:  2px solid  #1d0431;
    background-color: #d0a3f3;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}

.active, .accordion:hover {
    background-color: #da5bf1;
}

.accordion:after {
    content: '\002B';
    color: #fff;
  font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2212";
}

.panel{
    margin: auto 200px;
    border: 1 px solid black;
    width: 80%;
    height: auto;
    padding: 0 18px;
  color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* -------------------Latest Work---------------- */
#LatestWork{
    padding-top:100px;
}
/* .rowLatestWork{
 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
} */

.containerLatestWork{
  width: 80%;
    height: auto;
    background-color: rgb(238, 245, 245);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.line{
    margin-top: -40px;
    width: 40px;
    height: 1px;
    background-color: #9926f0;
    border: 3px solid maroon;
    margin: auto;
}

.col-md-12{
    padding: 20px;
    margin:auto 500px;
    display: flex;
  
    /* justify-content:space-around; */
    flex-wrap: nowrap;
}

.btn-outline-primary{
    margin-left: 20px;
    text-align: center;
    color: #9926f0;
    border-color: #9926f0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    cursor: pointer;
    padding: 10px;
    border-radius:3px;
   
}

.btn-outline-primary:hover{
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    color: #fff;
}
.names{
    
    width: 400px;
    height: 400px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.product-info{
  
    width: 400px;
    height: 400px;
    color: white;
    background-color: rgba(0, 0, 0, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 10s;
    transition-duration: 10s;
}
.show{
    transform: scale(0,0);
}
/*****GetStarted*/

#GetStarted{
    width: 100%;
    height: auto;
    padding: 100px;
    background-color: #e9ecef;
}

.main{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
.cta-info {
    width: 50%;
    color: white;
    background-color: #9926f0;
    left: 100px;
   left: 100px;
}
.display-4{
    padding-top: 20px;
    text-align: center;
    font-size: 52px;


    
}
.lh-lg {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
   
}
.cta-info__list {
    position: relative;
    list-style-type: none;
    display: block;
    left: 100px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.cta-info__list li::before {
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 600;
    margin-right: 8px;
    font-size: 24px;
}
.display-3--brief{
 text-align: center;
    font-size: 32px;
    padding: 20px;
}





form{
    width: 50%;
    background-color: white;
}

.form-control {
   
    border: 2px solid rgb(22, 20, 20);
    border-radius: 0px;
    box-shadow: none;
    margin: 20px 0px;
 
    transition: all 0.4s ease-in-out 0s;
}
form input{
   
     border: 1px solid black;
    padding: 20px;
    height: 40px;
    width: 45%;
   
}

input[type="email"]{
    margin: 10px 10px 10px 10px;
}
input[type="text"]{
    margin: 20px 0px 20px 20px;
    
    /* margin-left: 20px;
    margin-top: 20px; */

}
form{
    width: 100%;
}
#contact .email{
   
}
.col-messages .message {
    width: 520px;
    height: 300px;
    margin: 20px;
}

.btn-submit:hover {
    color: rgb(0, 0, 0);
}
.btn-submit{
   
    width: 520px;
    background: rgb(222, 142, 210);
    border: 3px solid rgb(215, 0, 161);
 
    margin: 20px;
    height: 50px;
    color:white;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
}

.footer-info{
    background-color: #212529;
    display: flex;
color: white;
left: 20px;
    justify-content: space-around;

}
.footer-item{
    display: flex;
    width: 50%;
    height: auto;
    padding: 20px;
    font-size: 20px;  
}
.rowFooter{
    padding: 10px;
    background-color: #212121;
}

.rowsm{
    background-color: #434547;
    display: flex;
color: white;
left: 20px;
    justify-content: space-around;

}
.contact-box__info--title{
    color: white;
}
.ic{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.socmedia{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
    margin: 10px;
}
.contact-box__icon{
    margin-right: 10px;
}
.fa-facebook{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-twitter{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}

.fa-github{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-linkedin{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-instagram {
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
} 

.mt-5 {
    width: 100%;
    display: flex;
    margin-top: 3rem !important;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.lh-lg {
    line-height: 2 !important;
}
.row>*{
    flex-shrink: 0;
    width: 40%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.mx-auto{
width: 20%;
}
.mx-auto-1{
    width: 40%;
}

/****************************Media only *****@media only screen and (max-width: 920px)*****************920*/

@media only screen and (max-width: 920px){


    .progres-container{
        width: 0%;
       display: none;
        z-index: 0;
       
    }
    .nav-menu{
           
        display: flex;
        flex-direction: column;
        align-items: center; 
}
.intro-section {
padding-left: 100px;
background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
padding: 160px 0 0 0;
width: 100%;
height: auto;
}
#home{
width: 100%;
}
.container{
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap:wrap;
}
#home .row{ width: 100%;}
.text-start{
width: 100%;
margin: auto 100px;
}
.video-start{
width: 100%;
height: auto;
display: block;
margin: 10px;
background-repeat: no-repeat;
}
.display-2{
width: 500px;
font-size: 42px;
font-weight: 600;
padding: 20px;
}
.p-base{

font-size: 32px;
}

img, svg {
vertical-align: middle;
}

.border-right{
    display: none;

}
.rounded-pill .btn-rounded{
    display: none;
}
#companies{
width: 100%;
padding-top: 100px;
}


.campanies__logo-boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.campanies__logo-box {
    height: 40px;
   margin-bottom: 30px;
   padding: 8px;
   text-align: center;
   background-repeat: no-repeat;
         width: 100%;
       margin-left: 40px;
  
   padding: 20px;
   border: 1px solid rgb(142, 137, 137);
   box-shadow: rgba(209, 34, 227, 0.95);
   }
   




.section-title{
/* border-top: 1px solid rgb(160, 10, 35); */
}
hr {
width: 140px;
margin: 40px auto;
text-align: left;
border-color: rgb(40, 39, 39);
margin-top: 10px;
}
.mb-5 {
margin-bottom: 4px solid  !important;
}
.heading-bold{
text-align: center;
color: #000;
font-size: 24px;
}


.col-md-12 {
    padding: 20px;
    margin: auto 100px;

}
.p-base {
    width: 500px;
    margin-bottom: 40px;
    font-size: 22px;
}

.display-2 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    padding: 20px;
}

.col1 {
    border-right: 1px solid black;
    margin: auto 40px;
   width: 100%; 
    font-size: 22px;
    font-weight: 700;
}
.col2{
    margin: auto 40px;
   width: 100%; 
    font-size: 20px;
    font-weight: 100;
}

.row2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campanies__logo-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    height: 3rem;
    margin-bottom: 500px;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

 .ourservice{
    font-size: 42px;
    text-align: center;
 }

 .services__content .icon {
    font-size: 1.5rem;
    color: #9926f0;
}
.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 22px;
    color: #9926f0;
 
}

/* .border-right {
    border-right: 1px solid #131517;
    height: 100px;
} */

#services-content{
    padding-top: 100px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicesContent1{
    width: 100%;
 
}
.servicesContent2{
    width: 100%;
}

form{
    width: 50%;
    background-color: white;
}

.form-control {
   
    border: 2px solid rgb(22, 20, 20);
    border-radius: 0px;
    box-shadow: none;
    margin: 20px 0px;
 
    transition: all 0.4s ease-in-out 0s;
}
form input{
   
     border: 1px solid black;
    padding: 20px;
    height: 40px;
    width: 100%;
   
}

input[type="email"]{
    margin: 10px 10px 10px 10px;
}
input[type="text"]{
    margin: 20px 0px 20px 20px;
    
    /* margin-left: 20px;
    margin-top: 20px; */

}
form{
    width: 100%;
}
#contact .email{
   
}
.col-messages .message {
    width: 520px;
    height: 300px;
    margin: 20px;
}

.btn-submit:hover {
    color: rgb(0, 0, 0);
}
.btn-submit{
   
    width: 320px;
    background: rgb(222, 142, 210);
    border: 3px solid rgb(215, 0, 161);
 
    margin: 20px;
    height: 50px;
    color:white;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
}
.main {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cta-info {
    width: 100%;
    color: white;
    background-color: #9926f0;
    left: 10px;
 
}
.footer-info{
    background-color: #212529;
    display: flex;
color: white;
left: 20px;
    justify-content: space-around;

}
.footer-item{
    display: flex;
    width: 50%;
    height: auto;
    padding: 20px;
    font-size: 20px;  
}
.rowFooter{
    padding: 10px;
    background-color: #212121;
}

.rowsm{
    background-color: #434547;
    display: flex;
color: white;
left: 20px;
    justify-content: space-around;

}
.contact-box__info--title{
    color: white;
}
.ic{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.socmedia{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
    margin: 10px;
}
.contact-box__icon{
    margin-right: 10px;
}
.fa-facebook{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-twitter{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}

.fa-github{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-linkedin{
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
}
.fa-instagram {
    display: flex;
    width: 50%;
    color: white;
    height: auto;
    padding: 20px;
    font-size: 22px;  
} 

.mt-5 {
    width: 100%;
    display: flex;
    margin-top: 3rem !important;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lh-lg {
    line-height: 2 !important;
}
.row>*{
    flex-shrink: 0;
    width: 40%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.mx-auto{
width: 20%;
}
.mx-auto-1{
    width: 40%;
}






}
/*   ********************************760media*************@media only screen and (max-width: 760px)*/


@media only screen and (max-width: 760px){

    .progres-container{
        width: 0%;
       display: none;
        z-index: 0;
       
    }
    nav{
     justify-content: space-between;
     padding: 0 5vw;
   }
   .btn-rounded {
    margin: 20px;
    width: 200px;
    height: 50px;
    position: relative;
    padding: 15px 20px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: #fff;
    border: 1px solid #9926f0;
    color: #9926f0;
    border-radius: 30px;
    display: none;
    /* display: block; */
}
  .nav-menu{
    position: absolute;
    right: 0;
    top:8vh;
    min-height:92vh;
    background:green;
    color: rgb(124, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition:All 0.5s ease-in;
  }
  .nav-menu li a{
    opacity: 0;
 
  }

  .hamburger{
    display: block;
  }
 
 .contactContainer{
   width: 100%;
       margin-top: 20px;
       flex-direction: column;
       flex-wrap: wrap;
   }
   .contact-info{
       width: 100%;
       background-color: #00c6d7;
       font-size: 20px;
       text-align: center;
      
   
   }
   
  .contact-info>p{
     /* margin-left: 200px; */
   }
    .form-control {
       width: 100%;
       border: 2px solid rgb(35, 33, 33);
       border-radius: 0px;
       box-shadow: none;
       margin-top: 10px;
       margin-bottom: 10px;
       transition: all 0.4s ease-in-out 0s;
   } 





       #contact .submit:hover {
           color: rgb(0, 0, 0);
       }
       #contact .submit{
        
           width: 300px;
           background: rgb(0, 198, 215);
           border: 3px solid rgb(0, 198, 215);
        
           margin: 20px;
           height: 50px;
           color:white;
       }
       .email-phone{
           width: 100%;
        
       }

          /* .bar{
         display: block;
       }
       .hamburger{
         display: block;
       }
       .hamburger.active .bar:nth-child(2){
         opacity: 0;
       }
       .hamburger.active .bar:nth-child(1){
         transform: rotate(45deg) translateY(11.5px); 
       }  
       .hamburger.active .bar:nth-child(3){
         transform: rotate(-45deg) translateY(-11.5px); 
       }
       .nav-menu{
         position: fixed;
         right: -100%;
         top: 70px;
         flex-direction: column;
         width: 100%;
         text-align: center;
         background: rgb(218, 215, 215);
         transition: 0.3s;
       }
       .nav-item{
         padding: 1.5rem 0;
       }
       
       .nav-menu.active{
         right: 0;
       }
        */
       
.border-right{
    display: none;
}

}



  /*****************************************************450***** @media only screen and (max-width: 450px)*/
  @media only screen and (max-width: 450px){

    .progres-container{
        width: 0%;
       display:block;
        z-index: 0;
       
    }
    .nav-menu{
        left: 20px;
        position: fixed;
        /* right: -100%; */
        top: 70px;
        flex-direction: column;
        text-align: center;
        background: rgb(39 35 35);
        transition: 0.3s;
    }


.rounded-pill{
    display: block;
}
    .btn-rounded {
        display: block;
    }


    .campanies__logo-boxes {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 500px;
    }
    
    .campanies__logo-box {
        height: 40px;
       margin-bottom: 30px;
       padding: 8px;
       text-align: center;
       background-repeat: no-repeat;
             width: 100%;
           margin-left: 40px;
      
       padding: 20px;
       border: 1px solid rgb(142, 137, 137);
       box-shadow: rgba(209, 34, 227, 0.95);
       }
       
    }
 
/*  
    @media only screen and (max-width: 760px){
        nav{
         justify-content: space-between;
         padding: 0 5vw;
       }
       .nav-menu{
         position: absolute;
         right: 0;
         top:8vh;
         min-height:92vh;
         background:green;
         color: rgb(124, 42, 42);
         display: flex;
         flex-direction: column;
         align-items: center;   
         width: 50%;
         margin: 0;
         padding: 0;
         transform: translateX(100%);
         transition:All 0.5s ease-in;
       }
       .nav-menu li a{
         opacity: 0;
      
       }
       .burger{
         display: block;
       }
    
    } */


    @media only screen and (max-width: 760px){
        nav{
         justify-content: space-between;
         padding: 0 5vw;
       }
       .nav-links{
         position: absolute;
         right: 0;
         top:8vh;
         min-height:92vh;
         background:green;
         color: rgb(124, 42, 42);
         display: flex;
         flex-direction: column;
         align-items: center;   
         width: 50%;
         margin: 0;
         padding: 0;
         transform: translateX(100%);
         transition:All 0.5s ease-in;
       }
       .nav-links li a{
         opacity: 0;
      
       }
       .burger{
         display: block;
       }
    }
    