*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
.progres-container{
  width: 100%;
  height: 8px;
  position: fixed;
  top:0;
  background-color: rgb(136, 124, 213);
  z-index: 1000000000444;
  
}
.progress{
  width: 0%;
  height: 8px;
  border-radius: 5px;
  background-color: rgb(160, 10, 35);

}


header{
  width: 100%;
  height:500px;

  background-color: #3416de;
}
.header-color{
  width: 100%;
  height: 500px;
  color: rgb(17, 6, 6);

  } 
  .logo{
    background: linear-gradient( red , blue);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
     font-size: 32px;
    font-weight: 700;
    text-decoration: none;   
}
.tel{
  background: linear-gradient( rgba(72, 0, 255, 0.768) , rgb(90, 170, 231));

  /* margin: 20px; */
  width: 200px;
  height: 50px;
  position: relative;
  padding: 15px 20px;
  font-weight: 700;
  border:none;
 
  border-radius: 30px;
  display: block;
}
.read{
  margin-top: 40px;
}
.menu{
  display: block;
  padding-top: 20px;
}
    
    nav{
      background: rgb(214, 214, 225);
       display: flex;
       justify-content:space-around;
       align-items: center;
       color: #201c1c;
       text-align:  center;
      }


      ul{
        list-style-type: none;
        overflow: hidden;
      }
      nav ul>li a{
        text-decoration: none;
        color: rgb(23, 22, 22);
     padding: 20px;
            }
      .nav-links {
         display: flex;
         justify-content:space-around;
      
         text-transform: uppercase;
      }
      .nav-links a{
       display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
       border-bottom:2px solid transparent;
       transition:0.5s ease;
       transform: translateX(0%);
      }
      .nav-links a:hover{
       color:#0c2f42;
       letter-spacing: 2px;
      }

      body.dark header{
        background-color: #1f150743;
        color: white;
    }
    .btn{
        border: none;
        background-color: transparent;
        font-size: 32px;
        cursor: pointer;
    }
      .burger{
       display: none;
      }
      .burger div{
       width: 25px;
       height: 3px;
       background: #fff;
       margin: 5px;
       transition:all 0.5s ease;
      }

/*design*/
.design{
  text-align: center;
  padding: 100px;
}
.design>h1{

  font-size: 38px;
}
.design>h1:hover{
  color:#00c6d7;
}

.design>p{

  font-size: 28px;
  padding: 40px 0px;
}
.design>p:hover{
  color:#151717;
}

.design  .btn-danger {
  margin: 40px;
  background: #00c6d7;
  border-color: transparent;
}

.design .btn {
  background: transparent;
  border: 4px solid #fff;
  border-radius: 0;
  color: #d16a6a;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;

  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}




#about{
  width: 100%;
  height: auto;
  padding: 100px;

}
.about-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.textdiv{
  width: 45%;
}
.text-primary{
  background: linear-gradient( red , blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
}
.imgdiv{
  width: 45%;
  height: 500px;
  display: block;
  background-image: url(../img/about.png);
}

.counterUp{
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.d-flex{
  width:20% ;
}
.ms-3{
  width: 80%;
}
.mb-4{
  font-size: 45px;
}
.mb-2{
  font-size: 28px;
  padding-top: 20px;
  color: rgb(53, 51, 51);
}

/* //feature */

#feature{
  padding-top: 100px;
}
.text-feature{
  text-align: center;
}
.row-feature{
  width: 100%;
  height: auto;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col-fadeInUp{
  width: 25%;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 18px;
    background-size: cover;
    background-color: #3416de;
    text-align: center;

}

      @media only screen and (max-width: 760px){
        nav{
         justify-content: space-between;
         padding: 0 5vw;
       }
       .nav-links{
         position: absolute;
         right: 0;
         top:8vh;
         min-height:92vh;
         background: #333;
         display: flex;
         flex-direction: column;
         align-items: center;   
         width: 50%;
         margin: 0;
         padding: 0;
         transform: translateX(100%);
         transition:All 0.5s ease-in;
       }
       .nav-links a{
         opacity: 0;
      
       }
       .burger{
         display: block;
       }
      }
      
      
      
        @media only screen and (max-width: 640px){
          nav{
            justify-content: space-between;
            padding: 0 5vw;
          }
        }
        .nav-active{
          transform: translateX(0);
        }
        @media only screen and (max-width: 460px){
            .nav-links{
              width: 100%;
              transition:All 0.5s ease;
            }}
            
            
            @keyframes navLinkFade{
                from{
                  opacity: 0;
                  transform: translateX(50px);
                }
                to{
                  opacity: 1;
                  transform: translateX(0);
                }
              }
              .toggle .line1{
                 transform: rotate(-45deg) translate(-5px,6px );
              }
              .toggle .line2{
                 opacity: 0;
              }
              .toggle .line3{
                 transform: rotate(45deg) translate(-5px,-6px );
              }